type file
id NICE.ldbnf
owners
    NICE
authors 
    Simon Farrow
projectUrl
    http://github.com/nhsevidence/ld-bnf
iconUrl
    https://raw.githubusercontent.com/nhsevidence/ld-bnf/master/docs/files/img/logo.png
licenseUrl
    http://github.com/nhsevdience/ld-bnf/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
summary
    Build tools for bnf
description
    Build tools for bnf
files
  ../../bin/ldbnf ==> tools
  !../../bin/ldbnf/IKVM.*