source https://nuget.org/api/v2

nuget Arachne.Uri
nuget Argu
nuget FSharp.Collections.ParallelSeq
nuget FSharp.Control.AsyncSeq
nuget FSharp.Formatting
nuget FSharp.RDF
nuget FSharpx.Async
nuget FsPickler.Json
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget FSharp.Data

github fsharp/FAKE modules/Octokit/Octokit.fsx