source https://nuget.org/api/v2

nuget Arachne.Uri
nuget FSharp.Formatting
nuget FsPickler.Json
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget FSharp.Data

github fsharp/FAKE modules/Octokit/Octokit.fsx