{{#if professionSpecificInformation.dentalPractitionersFormulary }}
  <h3>Dental practitioners</h3>

  {{#each professionSpecificInformation.dentalPractitionersFormulary as |advice| }}
    {{> advice advice }}
  {{/each }}
{{/if }}
